<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lenchan139.ncbookmark">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".v1.TagViewActivity"
            android:label="View Tag"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".v1.BookmarkViewActivity"
            android:label="bookmarkview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".v1.ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".v1.AddBookmarkActivity" />
        <activity
            android:name=".v2.TagListActivityV2"
            android:label="NC Bookmark Tags" />
        <activity
            android:name=".v2.BookmarkViewActivityV2"
            android:label="@string/title_activity_bookmark_view_v2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".v2.AddBookmarkActivityV2"
            android:label="@string/title_activity_add_bookmark_v2"

            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
            <action android:name="org.lenchan139.ncbookmark.v2.addBookmarkAction" />
            </intent-filter>
            </activity>
        <activity
            android:name=".v2.EditBookmarkActivityV2"
            android:label="@string/title_activity_edit_bookmark_v2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>